  /*
   *= require bootstrap/dist/css/bootstrap
   *= require_self
   *= require_tree .
   */

/*------ header --------*/

.dropMenu {
	padding: 10px;
}

.dropMenu a {
	text-align: center;
	color: #000;
	text-decoration: none;
	margin: 5px;
}


/*-------- home Page --------*/

.userInfo, .coursePresents{
	padding-bottom: 30px;
}

.coursePresents a {
	font-size: 20px;
}

.actualNews {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}